:root {
  --background_color1: rgba(255, 70, 0, 1);
  --background_color2: rgba(255, 0, 70, 1);
  --main_title: #1a2f98;
  --form_h2_bg: #ec2937;
  --background_color1_darker: rgb(202, 54, 0);
  --background_color2_darker: rgb(202, 0, 54);

  --bg_input_color: #a2a5a5;
  --bg_button_color: rgba(255, 70, 0, 1);
  --bg_button_hover_color: rgb(199, 53, 0);

  }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  list-style-type: none;
}

textarea:focus,
input:focus {
  outline: none;
}

@font-face {
  font-family: telemarketing;
  src: url(/includes/font/telemarketing_superstar.ttf);
}

/*Couleur de selection de texte*/
::selection {
  background: rgb(202, 0, 0);
}

::-moz-selection {
  background: rgb(202, 0, 0);
}

/*ScrollBar*/
/*(Uniquement sur les navigateurs webkit)*/
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--background_color2_darker);
  padding-left: 1px;
}

::-webkit-scrollbar-thumb {
  background: rgb(167, 0, 0);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(102, 0, 0);
}


main:not(#index-page) h1{
  font-style: italic;
  text-decoration: underline;
}

#index-page h1 {
  font-family: telemarketing, sans-serif;
}

html {
  background: linear-gradient(
    211deg,
    var(--background_color1) 0%,
    var(--background_color2) 100%
  );
}

/**HEADER**/
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 90px;
  position: relative;
}

header div {
  display: flex;
  justify-content: center;
  position: relative;
}

header div > a:first-of-type > img {
  width: 85px;
}

#navigation {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.search {
  display: flex;
  flex-direction: row;
}

.search input {
  padding: 10px;
  border: none;
  border-radius: 10px;
  width: 30vw;
}

.search button {
  padding: 10px;
  width: 60px;
  display: flex;
  justify-content: center;
  border: none;
  border-radius: 10px;
  background-color: var(--main_title);
  position: relative;
  right: 25px;
}

.search button span {
  background-color: #fff0;
  color: white;
  bottom: -2px;
}

header a:last-child {
  color: var(--main_title);
  display: flex;
  align-items: center;
  padding: 10px;
}

/*Search*/
.gg-search {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 16px;
  height: 16px;
  border: 2px solid;
  border-radius: 100%;
  margin-left: -4px;
  margin-top: -4px;
}
.gg-search::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  border-radius: 3px;
  width: 2px;
  height: 8px;
  background: currentColor;
  transform: rotate(-45deg);
  top: 10px;
  left: 12px;
}

/**Aside**/
#aside {
  position: absolute;
  display: flex;
  top: 90px;
  left: -200px;
  width: 140px;
  height: calc(100vh - 90px);
  background-color: var(--main_title);
  overflow-y: auto;
  flex-direction: column;
  justify-content: space-between;
  z-index: 2;
  transition: left 0.5s;
}

#aside nav #imageUser{
  display: flex;
  width: 100%;
  justify-content: center;
}

#aside nav #imageUser img{
  width: 100px;
  margin: 10px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}

#aside nav ul li {
  display: flex;
}

#aside nav ul li a {
  color: white;
  text-decoration: none;
  padding: 8px;
  width: 100%;
}

#aside nav ul li a:hover {
  background-color: var(--background_color1);
}

#aside > div {
  padding: 5px;
}

/**Main**/
main {
  background-color: white;
  height: calc(100vh - 90px);
  overflow-y: auto;
  overflow-x: hidden;
}

/**FOOTER**/ /*
footer{
  min-height: 10vh;
}*/

/*######################################################*/
/*INDEX - CONNEXION/INCRISPTION*/
/*######################################################*/
#index-page {
  background-color: #fff0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#index-page div:first-child {
  display: flex;
  width: 70%;
  justify-content: center;
  align-items: center;
}

#index-page div:first-child > img {
  /*LOGO*/
  width: 130px;
}

#index-page div:first-child > h1 {
  /*TITLE*/
  font-size: xxx-large;
  color: var(--main_title, #1a2f98);
}

#index-page section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 85%;
  align-items: baseline;
}

@media (min-width: 1000px) {
  #index-page section {
    width: 65%;
  }
}

#index-page section .form {
  background: white;
  display: flex;
  flex-direction: column;
  width: 35%;
  max-width: 300px;
  border-radius: 10px;
}

.form h2 {
  background-color: var(--form_h2_bg);
  border-radius: 10px;
  padding: 5px;
  margin: 10px;
  color: white;
  font-size: x-large;
  text-align: center;
}

.form div {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  margin: 10px;
  padding-inline: 10px;
  padding-block: 2px;
  background-color: var(--bg_input_color);
}

.form label {
  margin-block-start: 5px;
}

.form input {
  margin-block-end: 5px;
  border: none;
  background-color: var(--bg_input_color);
  border-bottom: solid 2px white;
}

.form > label {
  margin: 10px;
}

.form button[type="submit"] {
  background-color: var(--bg_button_color);
  margin: 10px;
  border: none;
  border-radius: 10px;
  font-size: large;
  padding: 5px;
}

.form button[type="submit"]:hover {
  cursor: pointer;
  background-color: var(--bg_button_hover_color);
}

/*MOBILE*/
@media (min-width: 400px) {
}

/*######################################################*/
/*HOME*/
/*######################################################*/

main section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contentHome {
  display: flex;
  flex-direction: column;
  background-color: var(--background_color2);
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-block: 20px;
  margin-inline: 10px;
  border-radius: 20px;
  font-size: smaller;
  color: white;
}

.contentHome > div:first-child{
  font-size: large;
}

.contentHome img {
  width: 350px;
  height: 210px;
  object-fit: cover;
  object-position: center;
}

#home-page #contenu{
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  justify-content: center;
}

#home-page #contenu > div{

}

/*######################################################*/
/*CATEGORY*/
/*######################################################*/

#category-page{
  display: flex;
  flex-direction: column;
}

#category-page h1, #home-page h1{
  margin: 0px;
  margin-block: 20px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  margin-inline-start: 5%;
}

.category-content > div{
  display: flex;
  flex-direction: column;
  width: calc(100vw - 90px);
  margin-inline: 45px;
  background-color: var(--background_color1);
  border-radius: 25px;
  padding: 20px;
  margin-block-end: 20px;
}

.category-content > div > h2 {
  color: white;
  font-size: x-large;
}

.category-content > div > a {
  width: 10%;
  color: white;
  background-color: var(--background_color2);
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: larger;
  text-decoration: none;
  width: 100%;
  text-align: center;
  margin-block: 5px;
}

.category-content > div > a:hover{
  background-color: var(--background_color2_darker);
}

.category-content > div > div {
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow-y: auto;
}

.category-content > div > div > div{
  background-color: #ff9900;
  margin-inline: 10px;
  padding: 10px;
  margin-block: 5px;
  border-radius: 15px;
  font-size: smaller;
  text-align: center;
  color: var(--background_color2_darker);
}

.category-content > div > div > div > a > div > img{
  object-fit: cover;
  object-position: center;
  width: 250px;
  height: 160px;
}

/*######################################################*/
/*VIDEO*/
/*######################################################*/

#main-video{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#main-video > *:not(aside){
  width: 850px;
}

#main-video h2{
  font-size: xx-large;
  color: black;
  margin-block: 10px;
}

#main-video #barre-under{
  background-color: var(--background_color2);
  border-radius: 15px;
  overflow: hidden;
}

#main-video #note{
  display: flex;
  flex-direction: row;
}

#main-video #note>p{
  color: white;
  width: 50%;
  text-align: center;
  font-size: larger;
  padding-block: 10px;
  border-bottom: 2px solid white;
}

#main-video #divRange{
  display: flex;
  justify-content: center;
  padding-block: 10px;
}

#main-video #description{
  background-color: var(--background_color1);
  color: white;
  margin-block: 5px;
  padding: 10px;
  border-radius: 15px;
}

#main-video #description h3{
  padding-block: 2px;
  border-bottom: 2px solid white;
  margin-block-end: 3px;
}

/*######################################################*/
/*ADMIN*/
/*######################################################*/

#admin-page {
  display: flex;
  flex-direction: column;
}

#admin-page > div {
  margin-inline: 15vw;
  display: flex;
  flex-direction: row;
  margin-block: 5%;
}

#admin-content-menu {
  margin: 0 !important;
  width: 100%;
  height: 100%;
  flex-direction: column !important;
}

#contentADDSUPP > a {
  padding: 20px;
  background-color: var(--background_color1);
  color: white;
  font-size: x-large;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  margin-block: 10px;
}

#contentADDSUPP > a:hover {
  background-color: var(--background_color1_darker);
}

#userList > a {
  padding: 20px;
  background-color: var(--background_color2);
  color: white;
  font-size: x-large;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  justify-content: center;
}

#userList > a:hover {
  background-color: var(--background_color2_darker);
}

/*Userlist*/
#admin-page #back-title,
#admin-page #title {
  margin: 0px;
  margin-block: 20px;
  display: flex;
  flex-direction: row;
  justify-content: start;
}

#admin-page #back-title a {
  margin-inline-start: 5%;
  color: white;
  background-color: var(--background_color2);
  padding: 10px;
  border-radius: 8px;
  font-size: larger;
  text-decoration: none;
}

#admin-page #back-title a:hover{
  background-color: var(--background_color2_darker);
}

#admin-page #back-title h1,
#admin-page #title h1{
  margin-inline-start: 5%;
}

#admin-page .user{
  background-color: var(--background_color1);
  display: flex;
  flex-direction: row;
  margin-inline: 5%;
  margin-block: 15px;
  border-radius: 15px;
  padding: 15px;
  align-items: center;
}

#admin-page .user div:first-child{
  width: 5%;
  display: flex;
  border-radius: 50%;
  overflow: hidden;
}

#admin-page .user div:first-child img{
  width: 100%;
  object-fit: cover;
  object-position: center;
}

#admin-page .user p{
  width: 75%;
  padding-inline: 20px;
  font-size: larger;
}

#admin-page .user p[class*="you"]::after{
  content: "#you";
  color: green;
  background-color: #1a1a1a;
  margin-left: 2px;
  padding: 5px;
  border-radius: 5px;
}

#admin-page .user button,
#addVideo button,
#suppVideo button{
  width: 10%;
  color: white;
  background-color: var(--background_color2);
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: larger;
  margin-inline-start: 5px;
}

#admin-page .user button:hover,
#addVideo button:hover,
#suppVideo button:hover{
  background-color: var(--background_color2_darker);
  cursor: pointer;
}

#admin-page .user button[disabled]{
  background-color:rgb(102, 102, 102);
  cursor: not-allowed;
}

/*AddVideo*/
#admin-page #addVideo,
#admin-page #suppVideo{
  background-color: var(--background_color1);
  border-radius: 15px;
  margin-inline: 5%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  font-size: larger;
}

#admin-page #addVideo label{
  padding: 5px;
}

#admin-page #addVideo input,
#admin-page #addVideo textarea,
#admin-page #addVideo select,
#suppVideo select{
  font-size: large;
  padding: 3px;
  border: none;
  border-radius: 5px;
}

#admin-page #addVideo p{
  padding: 2px;
  font-size: medium;
  font-style: italic;
  color: var(--background_color2_darker);
}

/*######################################################*/
/*PROFIL*/
/*######################################################*/

#profil-page {
  display: flex;
  flex-direction: column;
}

#profil-page #title {
  margin: 0px;
  margin-block: 20px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  font-size: x-large;
  width: 100%;
  margin-inline-start: 5%;
}

#profil-page form{
  margin-inline: 5%;
  margin-block: 2%;
  background-color: var(--background_color2);
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
}

#profil-page form > div{
  display: flex;
  flex-direction: row;
}

#profil-page form input[type="file"][disabled],
#profil-page form button[disabled] {
  display: none;
}

#profil-page form #photo{
  background-color: var(--background_color1);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
}

#profil-page form #photo img{
  width: 50%;
  object-fit: cover;
  object-position: center;
}

#personal-informations{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#profil-page form input{
  font-size: large;
  margin: 15px;
  border: none;
  background-color: #FFF;
  padding: 5px;
  border-radius:5px;
  color: black;
}

#profil-page form input[disabled]{
  background-color: #0000;
}

#profil-page form button{
  background-color: var(--background_color1);
  border: 2px solid white;
  font-size: x-large;
  margin-block: 10px;
  border-radius: 5px;
  color: white;
}

#profil-page form button:hover{
  background-color: var(--background_color1_darker);
  border: 2px solid black;
  color: black;
}

#recommandation{
  background-color: var(--background_color1);
  border-radius: 5px;
  padding: 10px;
}


#fleche-droite{
  position: fixed;
  top: 50%;
  left: 5%;

}

#fleche-droite img{
  width: 100px;
  height: 100px;
}

#fleche-gauche{
  position: fixed;
  top: 50%;
  right: 5%;

}

#fleche-gauche img{
  width: 100px;
  height: 100px;
}

#profil-title{
  margin: 0px;
  margin-block: 20px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  margin-inline-start: 5%;
}


/*######################################################*/
/*RATING STARS*/
/*https://dev.to/madsstoumann/star-rating-using-a-single-input-i0l*/
/*######################################################*/

.rating {
  --dir: right;
  --fill: gold;
  --fillbg: rgba(100, 100, 100, 0.15);
  --heart: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 21.328l-1.453-1.313q-2.484-2.25-3.609-3.328t-2.508-2.672-1.898-2.883-0.516-2.648q0-2.297 1.57-3.891t3.914-1.594q2.719 0 4.5 2.109 1.781-2.109 4.5-2.109 2.344 0 3.914 1.594t1.57 3.891q0 1.828-1.219 3.797t-2.648 3.422-4.664 4.359z"/></svg>');
  --star: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 17.25l-6.188 3.75 1.641-7.031-5.438-4.734 7.172-0.609 2.813-6.609 2.813 6.609 7.172 0.609-5.438 4.734 1.641 7.031z"/></svg>');
  --stars: 5;
  --starsize: 3rem;
  --symbol: var(--star);
  --value: 1;
  --w: calc(var(--stars) * var(--starsize));
  --x: calc(100% * (var(--value) / var(--stars)));
  block-size: var(--starsize);
  inline-size: var(--w);
  position: relative;
  touch-action: manipulation;
  -webkit-appearance: none;
  background-color: #0000;
}
[dir="rtl"] .rating {
  --dir: left;
}
.rating::-moz-range-track {
  background: linear-gradient(to var(--dir), var(--fill) 0 var(--x), var(--fillbg) 0 var(--x));
  block-size: 100%;
  mask: repeat left center/var(--starsize) var(--symbol);
}
.rating::-webkit-slider-runnable-track {
  background: linear-gradient(to var(--dir), var(--fill) 0 var(--x), var(--fillbg) 0 var(--x));
  block-size: 100%;
  mask: repeat left center/var(--starsize) var(--symbol);
  -webkit-mask: repeat left center/var(--starsize) var(--symbol);
}
.rating::-moz-range-thumb {
  height: var(--starsize);
  opacity: 0;
  width: var(--starsize);
}
.rating::-webkit-slider-thumb {
  height: var(--starsize);
  opacity: 0;
  width: var(--starsize);
  -webkit-appearance: none;
}
.rating, .rating-label {
  display: block;
  font-family: ui-sans-serif, system-ui, sans-serif;
}
.rating-label {
  margin-block-end: 1rem;
}

/* NO JS */
.rating--nojs::-moz-range-track {
  background: var(--fillbg);
}
.rating--nojs::-moz-range-progress {
  background: var(--fill);
  block-size: 100%;
  mask: repeat left center/var(--starsize) var(--star);
}
.rating--nojs::-webkit-slider-runnable-track {
  background: var(--fillbg);
}
.rating--nojs::-webkit-slider-thumb {
  background-color: var(--fill);
  box-shadow: calc(0rem - var(--w)) 0 0 var(--w) var(--fill);
  opacity: 1;
  width: 1px;
}
[dir="rtl"] .rating--nojs::-webkit-slider-thumb {
  box-shadow: var(--w) 0 0 var(--w) var(--fill);
}